build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <link href="stylesheets/app.css" rel="stylesheet" />
    <title>
      File Manager
    </title>
  </head>
  <body class='index' ng-app='myApp'>
    <div class='row'>
      <div class='columns'>
        <hr>
        <form name='myForm' ng-controller='UploadCtrl'>
          <label>Paste your json url here:</label>
          <input name='input' ng-change='inputChange()' ng-model='json.url' placeholder='ex:http://medoroby.com.ua/data.json' required='required' type='url'>
          <div role='alert'>
            <span class='error' ng-show='myForm.input.$error.required'>
              Required!
            </span>
            <span class='error' ng-show='myForm.input.$error.url'>
              Not valid url!
            </span>
          </div>
          <hr>
            <ul class='breadcrumbs'>
              <li>
                <a href='#'>
                  Home
                </a>
              </li>
            </ul>
            <ul class='no-bullet'>
              <li ng-click='levelUp(items)' ng-if='sublevel'>
                ...
              </li>
              <li ng-class="item.items ? 'folder' : 'pic' " ng-click='levelDown(item)' ng-repeat='item in items'>
                {{ item.name }}
              </li>
            </ul>
            <!-- /%collection{"collection" => 'item'} -->
            <!-- %script#itemsTree{:type => "text/ng-template"} -->
            <!-- {{ i.name }} -->
            <!-- %ul{"ng-if" => "i.items"} -->
            <!-- %li{"ng-include" => "'itemsTree'", "ng-repeat" => "i in i.items", "ng-class" =>"i.items ? 'folder' : 'pic' "} -->
          </hr>
        </form>
      </div>
    </div>
    <script src="javascripts/all.js"></script>
  </body>
</html>

source/index.html.haml
.row
	.columns
		%hr	
		%form{"name" => "myForm", "ng-controller" => "UploadCtrl"}
			%label Paste your json url here:
			%input{:type => "url", "name" => "input", "placeholder"=>"ex:http://medoroby.com.ua/data.json", "ng-model" => "json.url", "required"=>"required", "ng-change" => "inputChange()"}/	
			%div{"role" => "alert"}
				%span.error{"ng-show" => "myForm.input.$error.required"}
					Required!
				%span.error{"ng-show" => "myForm.input.$error.url"}
					Not valid url!			
			%hr
				%ul.breadcrumbs
					%li
						%a{:href => "#"}
							Home

				%ul.no-bullet
					%li{"ng-if" => "sublevel", "ng-click" => "levelUp(items)"}
						\...
					%li{"ng-repeat"=>"item in items", "ng-class" =>"item.items ? 'folder' : 'pic' ", "ng-click" => "levelDown(item)"}
						{{ item.name }}















				//%collection{"collection" => 'item'}






				/ %script#itemsTree{:type => "text/ng-template"}
				/ 	{{ i.name }}
				/ 	%ul{"ng-if" => "i.items"}
				/ 		%li{"ng-include" => "'itemsTree'", "ng-repeat" => "i in i.items", "ng-class" =>"i.items ? 'folder' : 'pic' "}
